
#welcome-inner {
    max-width: 600px;
    padding: 100px;
    margin: auto;
    margin-top: 10vh;
}

.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.field {
    display: block;
}